@{
    KhachHang KH = ViewBag.KH;
}

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>
                    <li class="active">
                        <a href="">Thông tin cá nhân</a>
                    </li>
                    <li >
                        <a href="/HoaDon/LichSuHD">
                            Lịch sử hóa đơn
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Thông tin tài khoản</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page title area -->

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">
                        Chi tiết thông tin của bạn
                    </h2>
                    <hr />
                    <form action="/TaiKhoan/CapNhatTK" method="post" class="dangki">
                        <input name="MaKH" value="@KH.MaKH" style="display:none"/>
                        <div class="form-group">
                            <label for="TenKH">Họ tên:</label>
                            <input name="TenKH"
                                   type="text"
                                   class="form-control"
                                   id="TenKH" placeholder="Nguyễn Công Phượng" value="@KH.TenKH"/>
                        </div>
                        <div class="form-group">
                            <label for="GioiTinh">Giới tính:</label>
                            <select name="GioiTinh"
                                    type="text"
                                    class="form-control"
                                    id="GioiTinh">
                                @if (KH.GioiTinh == "Nam")
                                {
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                }
                                else
                                {
                                    <option value="Nữ">Nữ</option>
                                    <option value="Nam">Nam</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="SDT">SDT:</label>
                            <input name="SDT"
                                   type="text"
                                   class="form-control"
                                   id="SDT" placeholder="0379696411" value="@KH.SDT"/>
                        </div>
                        <div class="form-group">
                            <label for="Email">Email: @KH.Email</label>
                            <input name="Email"
                                   type="email"
                                   class="form-control"
                                   id="Email" placeholder="CongPhuong@gmail.com" 
                                   style="display:none" value="@KH.Email"/>
                        </div>
                        <div class="form-group">
                            <label for="CMND">CMND:</label>
                            <input name="CMND"
                                   type="text"
                                   class="form-control"
                                   id="CMND" placeholder="272810711" value="@KH.CMND" />
                        </div>
                        <div class="form-group">
                            <label for="DiaChi">Địa chỉ:</label>
                            <input name="DiaChi"
                                   type="text"
                                   class="form-control"
                                   id="DiaChi" placeholder="Linh Trung, Thủ Đức, Hồ Chí Minh" 
                                   value="@KH.DiaChi"/>
                        </div>
                        <div class="form-group">
                            <label for="MatKhau">Mật khẩu:</label>
                            <input name="MatKhau"
                                   type="password"
                                   class="form-control"
                                   id="MatKhau" placeholder="Nhập mật khẩu" style="display:none"
                                   value="@KH.MatKhau"/>
                        </div>
                        @*<div class="form-group">
            <label for="confirm-pass">Nhập lại mật khẩu:</label>
            <input name="confirm-pass"
                   type="password"
                   class="form-control"
                   id="confirm-pass"
                   placeholder="Nhập lại mật khẩu"
                   oninput="check(this)" />
        </div>*@
                        <div class="message"></div>
                        <input type="submit"
                               value="Cập nhật"
                               class="btn btn-default" />
                    </form>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
