@model IEnumerable<Web_projectframeword_admin.Models.NhaCungCap>
@{
    <div class="content-wrapper" style="min-height: 639px;">
        <section class="content-header">
            <h1>
                <i class="glyphicon glyphicon-tower"></i>Danh sách nhà cung cấp
            </h1>
            <div class="breadcrumb">
                <div class="searchbox">
                    <input type="text" placeholder="Search here">
                    <a><i class="fas fa-search-location"></i></a>
                </div>
                <a class="btn btn-primary btn-sm" href="/Admin/NhaCungCap/ThemNCC" role="button">
                    <span class="glyphicon glyphicon-plus"></span>Thêm mới
                </a>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box" id="view">
                        <div class="box-header with-border">
                            <div class="box-body">
                                <div class="row" style="padding:0px; margin:0px;">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Mã NCC</th>
                                                    <th>Tên nhà cung cấp</th>
                                                    <th>Email</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Website</th>
                                                    <th class="text-center" colspan="2">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="text-center">@item.mancc</td>
                                                        <td>@item.tenncc</td>
                                                        <td>@item.email</td>
                                                        <td>@item.sdt</td>
                                                        <td>@item.diachi</td>
                                                        <td>@item.website</td>
                                                        <td class="text-center">
                                                            <a class="btn btn-success btn-xs" href="/Admin/NhaCungCap/SuaNCC?id=@item.mancc" role="button">
                                                                <span class="glyphicon glyphicon-edit"></span>Sửa
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            <a class="btn btn-danger btn-xs" href="/Admin/NhaCungCap/Index?id=@item.mancc" onclick="return confirm('Xác nhận xóa nhà cung cấp này ?')" role="button">
                                                                <span class="glyphicon glyphicon-trash"></span>Xóa
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <ul class="pagination">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}