@using Web_projectframeword_admin.Models;
@model KhuyenMai
@{
    <div class="content-wrapper" style="min-height: 639px;">
        <form action="/Admin/KhuyenMai/UpdateKhuyenMai" method="post">
            <section class="content-header">
                <h1><i class="glyphicon glyphicon-leaf"></i> Chỉnh sửa Khuyến mãi</h1>
                <div class="breadcrumb">
                    <a class="btn btn-primary btn-sm">Update
                        <button type="submit" style="width: 50px; height: 25px; background-color: darkcyan; border-radius: 10px; color: white; border-color: white; ">
                            <i class="glyphicon glyphicon-floppy-save"></i>
                        </button>
                    </a>
                    <a class="btn btn-primary btn-sm" href="/Admin/KhuyenMai/LietKeKhuyenMai" role="button">
                        <span class="glyphicon glyphicon-remove do_nos"></span> Thoát
                    </a>
                </div>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box" id="view">
                            <div class="box-body">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="padding-left: 0px;">
                                        <div class="form-group">
                                            <label for="maKM">Mã khuyến mãi</label>
                                            <input readonly type="number" class="form-control" name="MaKM" min="0" step="1" max="100" style="width:100%" value="@Model.MaKM">
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-right: 0px;">
                                        <div class="form-group">
                                            <label for="soPTKM">Số % khuyến mãi</label>
                                            <input type="number" class="form-control" name="SoPTKM" min="0" style="width:100%" value="@Model.SoPTKM">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6" style="padding-left: 0px;">
                                        <div class="form-group">
                                            <label for="tuNgay">Ngày bắt đầu</label>
                                            <input type="date" class="form-control" name="TuNgay" value="@Model.TuNgay.Date.ToString("yyyy-MM-dd")" style="width:100%">
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-right: 0px;">
                                        <div class="form-group">
                                            <label for="denNgay">Ngày kết thúc</label>
                                            <input type="date" class="form-control" name="DenNgay" value="@Model.DenNgay.Date.ToString("yyyy-MM-dd")" style="width:100%">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6" style="padding-left: 0px;">
                                        <div class="form-group">
                                            <label for="ttienToiThieu">Số tiền tối thiểu</label>
                                            <input type="number" class="form-control" name="TTienToiThieu" min="0" step="5000" style="width:100%" value="@Model.TTienToiThieu">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
}

