@{ 
    HoaDon HD = new HoaDon();
    HD = ViewBag.HD;
    List<CTHD> listcthd = new List<CTHD>();
    listcthd = ViewBag.CTHD;
    long TongTien = 0;
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>
                    <li>
                        <a href="/TaiKhoan/ThongTinTK">Thông tin cá nhân</a>
                    </li>
                    <li class="active">
                        <a href="/HoaDon/LichSuHD">
                            Lịch sử hóa đơn
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->
<div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Open Sans, Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
    For what reason would it be advisable for me to think about business content? That might be little bit risky to have crew member like them.
</div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" style="background-color: #eeeeee;" bgcolor="#eeeeee">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:800px;">
                <tr>
                    <td align="center" valign="top" style="font-size:0; padding: 35px;" bgcolor="#F44336">
                        <div style="display:inline-block; max-width:50%; min-width:100px; vertical-align:top; width:100%;">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                <tr>
                                    <td align="left" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 800; line-height: 48px;" class="mobile-center">
                                        <h1 style="font-size: 36px; font-weight: 800; margin: 0; color: #ffffff;">MU STORE</h1>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="display:inline-block; max-width:50%; min-width:100px; vertical-align:top; width:100%;" class="mobile-hide">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                <tr>
                                    <td align="right" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; line-height: 48px;">
                                        <table cellspacing="0" cellpadding="0" border="0" align="right">
                                            <tr>
                                                <td style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400;">
                                                    <p style="font-size: 18px; font-weight: 400; margin: 0; color: #ffffff;"><a href="#" target="_blank" style="color: #ffffff; text-decoration: none;">Shop &nbsp;</a></p>
                                                </td>
                                                <td style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 24px;"> <a href="#" target="_blank" style="color: #ffffff; text-decoration: none;"><img src="https://img.icons8.com/color/48/000000/small-business.png" width="27" height="23" style="display: block; border: 0px;" /></a> </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 35px 35px 20px 35px; background-color: #ffffff;" bgcolor="#ffffff">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:800px;">
                            <tr>
                                <td align="center" style="font-family: 'Times New Roman', Times, serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                                    <img src="https://img.icons8.com/carbon-copy/100/000000/checked-checkbox.png" width="125" height="120" style="display: block; border: 0px;" /><br>
                                    <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;"> Cám ơn đơn hàng của bạn! </h2>
                                </td>
                            </tr>
                            <tr>
                                <td width="60%" align="left" style="font-family: 'Times New Roman', Times, serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;"> 
                                    Mã hóa đơn # @HD.MaHD
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding-top: 20px;">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td width="60%" align="left" bgcolor="#eeeeee" style="font-family: 'Times New Roman', Times, serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;"> Tên sản phẩm</td>
                                            <td width="15%" align="left" bgcolor="#eeeeee" style="font-family: 'Times New Roman', Times, serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;"> Số lượng </td>
                                            <td width="25%" align="left" bgcolor="#eeeeee" style="font-family: 'Times New Roman', Times, serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;"> Thành Tiền</td>
                                        </tr>
                                        @foreach (var item in listcthd)
                                        {
                                            <tr>
                                                <td width="60%" align="left" style="font-family: 'Times New Roman', Times, serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">
                                                    @item.TenSP
                                                </td>
                                                <td width="15%" align="left" style="font-family: 'Times New Roman', Times, serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">
                                                    @item.SoLuong
                                                </td>
                                                <td width="25%" align="left" style="font-family: 'Times New Roman', Times, serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">
                                                    @string.Format("{0:0,0 đ}", item.ThanhTien)
                                                </td>
                                                @{ TongTien += item.ThanhTien; }
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding-top: 20px;">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td width="75%" align="left" style="font-family: 'Times New Roman', Times, serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee;">
                                                Tổng tiền sản phẩm
                                            </td>
                                            <td width="25%" align="left" style="font-family: 'Times New Roman', Times, serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee;">
                                                @string.Format("{0:0,0 đ}", TongTien)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="75%" align="left" style="font-family: 'Times New Roman', Times, serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px; ">
                                                Giảm
                                            </td>
                                            <td width="25%" align="left" style="font-family: 'Times New Roman', Times, serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;">
                                                @string.Format("{0:0,0 đ}", HD.TongTienTT - TongTien)
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td align="left" style="padding-top: 0px;">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr style="color: #ff7361;">
                                            <td width="75%" align="left" style="font-family: 'Times New Roman', Times, serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee;">
                                                Tổng tiền phải thanh toán
                                            </td>
                                            <td width="25%" align="left" style="font-family: 'Times New Roman', Times, serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee;">
                                                @string.Format("{0:0,0 đ}", HD.TongTienTT)
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" height="100%" valign="top" width="100%" style="padding: 0 35px 0px 35px; background-color: #ffffff;" bgcolor="#ffffff">
                        <div style="display:inline-block; max-width:100%; min-width:240px; vertical-align:top; width:100%;">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:530px;">
                                <tr>
                                    <td align="left" valign="top" style="font-family: 'Times New Roman', Times, serif; font-size: 16px; font-weight: 400; line-height: 24px; ">
                                        <p style="font-weight: 800; font-size: 18px;">Địa chỉ giao hàng</p>
                                        <p>@HD.DiaChiGH</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left" height="100%" valign="top" width="100%" style="padding: 0 35px 35px 35px; background-color: #ffffff;" bgcolor="#ffffff">
                        <div style="display:inline-block; max-width:100%; min-width:240px; vertical-align:top; width:100%;">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                <tr>
                                    <td align="left" valign="top" style="font-family: 'Times New Roman', Times, serif; font-size: 16px; font-weight: 400; line-height: 24px; ">
                                        <p style="font-weight: 800; font-size: 18px;">Ngày lập hóa đơn:</p>
                                        <p>@HD.NgayLapHD.ToString("dd-MM-yyyy")</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" style=" padding: 35px; background-color: #ff7361;" bgcolor="#1b9ba3">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                            <tr>
                                <td align="center" style="padding: 25px 0 15px 0;">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" style="border-radius: 5px;" bgcolor="#66b3b7">
                                                <a href="/Home/Index" style="font-size: 18px; font-family: 'Times New Roman', Times, serif; color: #ffffff; text-decoration: none; border-radius: 5px; background-color: #F44336; padding: 15px 30px; border: 1px solid #F44336; display: block;">
                                                    Quay lại shop
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>